In [2]:
#Limpiar la zona de trabajo
rm(list=ls())
#Librerias
if (require('pacman')) install.packages('pacman')
pacman::p_load(tidyverse,
               readr, 
               srvyr,
               ggplot2,
               showtext, 
               dplyr, 
               purrr)

Warning message:
"package 'pacman' is in use and will not be installed"

In [3]:
#Consideraciones----
#Tiempo en linea
options(timeout = 8000)

In [10]:
# Función para leer los datos de los censos
leer_ce <- function(anios) { 
  
  anios <- as.integer(anios)[anios %in% c(2004, 2009, 2014, 2019)]
  data_list <- list()
  
  for (anio in anios) {
    
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/ce/2019/Datosabiertos/ce",
                  anio,
                  "_cdmx_csv.zip")
    
    temp_zip <- tempfile(fileext = ".zip")
    temp_dir <- tempdir()
    options(timeout = 9999)
    
    # Descargar y descomprimir ZIP
    download.file(url, destfile = temp_zip, mode = "wb", quiet = TRUE)
    unzip(temp_zip, exdir = temp_dir)
    
    # Construir nombre del archivo esperado
    nombre_csv <- file.path(temp_dir, "conjunto_de_datos", paste0("ce", anio, "_cdmx.csv"))
    
    # Leer CSV
    datos <- readr::read_csv(nombre_csv,
                             col_types = readr::cols(),
                             show_col_types = FALSE) |>
      janitor::clean_names() |>
      dplyr::mutate(anio = as.integer(anio))
    
    data_list[[as.character(anio)]] <- datos
  }
  
  return(data_list)
}

In [12]:
#Leer datos de los censos económicos
lista_censos <- leer_ce(c(2004, 2009, 2014, 2019))
names(lista_censos)

Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"

[1] "2004" "2009" "2014" "2019"

In [19]:
head(lista_censos$`2019`)

  entidad municipio codigo id_estrato ue     a111a     a121a     a131a
1 09      NA        NA     NA         427959 4280286.8 1987650.3 2292636.5
2 09      NA        NA      1         396040  503719.3  159108.5  344610.7
3 09      NA        NA      2          23622  381732.2  190345.6  191386.6
4 09      NA        NA      3           6441  713094.4  401344.7  311749.7
5 09      NA        NA      4           1856 2681740.9 1236851.5 1444889.5
6 09      NA        11     NA             24        NA        NA        NA
  a211a      a221a      ⋯ a433a   a434a  a436a     a529a  a534a  a747a
1 247810.900 236511.907 ⋯ 153.595 85.842 1306291.2  7.696 23.824 397.955
2   5776.747   6230.130 ⋯ 218.602 88.443  565698.0  7.847 42.859 207.241
3   4808.947   6071.708 ⋯ 149.732 88.033 1270632.4  8.730 31.935 243.101
4  22670.862  11177.463 ⋯ 130.634 80.859 1717864.2  8.016 24.903 317.737
5 214554.344 213032.606 ⋯ 153.373 86.280 1504924.7  7.587 20.184 453.951
6         NA         NA ⋯ 256.393 97.024  321823.5 15.221 35.746 330.476
  a748a   a752a   a764a   anio
1 748.773  67.858 40.939, 2019
2 312.167 222.481 44.703, 2019
3 383.557 104.845 42.579, 2019
4 491.638 110.039 39.898, 2019
5 809.580  52.392 39.244, 2019
6 190.388 185.547 24.510, 2019

In [30]:
total_unidades <- purrr::imap_dfr(lista_censos, ~ .x |>
  dplyr::select(id_estrato = id_estrato, codigo = codigo, municipio = municipio, ue=ue) |>
  dplyr::mutate(anio = as.integer(.y)))|>
  dplyr::filter(is.na(id_estrato) & is.na(codigo) & is.na(municipio))|>
  select(anio, ue)

total_unidades

  anio ue
1 2004 342475
2 2009 382056
3 2014 415481
4 2019 427959

In [40]:
#Actividades economía circular
actividades <- data.frame(actividad = c("Comercio al por mayor de materiales de desecho",
                                "Comercio al por menor de artículos usados",
                                "Manejo de residuos y servicios de remediación",
                                "Restauradores de muebles antiguos",
                                "Reparación y mantenimiento de automóviles y camiones",
                                "Reparación y mantenimiento de equipo electrónico y de equipo de precisión",
                                "Reparación y mantenimiento de artículos para el hogar y personales",
                                "Alquiler de uniformes, blancos y pañales",
                                "Remanufactura de cartuchos de tóner",
                                "Alquiler de automóviles, camiones y otros transportes terrestres",
                                "Alquiler de artículos para el hogar y personales",
                                "Centros generales de alquiler", 
                                "Alquiles de equipo de cómputo y otras maquinas y mobiliario de oficina"),
                                clave = c("43431", "46641", "562", "71151", "81111", "81121", "8114",
                                "81221", "3251","53211", "53228", "53231", "53242"),
                                stringsAsFactors = FALSE)

In [46]:
colnames(lista_censos$`2019`)
str(lista_censos$`2019`)

  [1] "entidad"    "municipio"  "codigo"     "id_estrato" "ue"
  [6] "a111a"      "a121a"      "a131a"      "a211a"      "a221a"
 [11] "a511a"      "a700a"      "a800a"      "h000a"      "h000b"
 [16] "h000c"      "h000d"      "h001a"      "h001b"      "h001c"
 [21] "h001d"      "h010a"      "h010b"      "h010c"      "h010d"
 [26] "h020a"      "h020b"      "h020c"      "h020d"      "h101a"
 [31] "h101b"      "h101c"      "h101d"      "h203a"      "h203b"
 [36] "h203c"      "h203d"      "i000a"      "i000b"      "i000c"
 [41] "i000d"      "i100a"      "i100b"      "i100c"      "i100d"
 [46] "i200a"      "i200b"      "i200c"      "i200d"      "j000a"
 [51] "j010a"      "j203a"      "j300a"      "j400a"      "j500a"
 [56] "j600a"      "k000a"      "k010a"      "k020a"      "k030a"
 [61] "k042a"      "k412a"      "k050a"      "k060a"      "k070a"
 [66] "k090a"      "k096a"      "k311a"      "k610a"      "k620a"
 [71] "k810a"      "k820a"      "k910a"      "k950a"      "k976a"
 [76] "m000a"      "m010a"      "m020a"      "m030a"      "m050a"
 [81] "m090a"      "m091a"      "m700a"      "o010a"      "o020a"
 [86] "p000a"      "p000b"      "p000c"      "p030a"      "p030b"
 [91] "p030c"      "p100a"      "p100b"      "q000a"      "q000b"
 [96] "q000c"      "q000d"      "q010a"      "q020a"      "q030a"
[101] "q400a"      "q900a"      "a112a"      "a113a"      "a114a"
[106] "a115a"      "a116a"      "a117a"      "a118a"      "a119a"
[111] "a141a"      "a143a"      "a144a"      "a145a"      "a146a"
[116] "a147a"      "a148a"      "a149a"      "a151a"      "a152a"
[121] "a153a"      "a154a"      "a155a"      "a156a"      "a157a"
[126] "a158a"      "a159a"      "a171a"      "a173a"      "a174a"
[131] "a175a"      "a176a"      "a177a"      "a179a"      "a181a"
[136] "a182a"      "a192a"      "a193a"      "a194a"      "a195a"
[141] "a197a"      "a201a"      "a202a"      "a204a"      "a206a"
[146] "a208a"      "a209a"      "a212a"      "a213a"      "a214a"
[151] "a215a"      "a216a"      "a217a"      "a218a"      "a219a"
[156] "a222a"      "a223a"      "a224a"      "a225a"      "a226a"
[161] "a227a"      "a228a"      "a229a"      "a231a"      "a235a"
[166] "a236a"      "a237a"      "a238a"      "a242a"      "a243a"
[171] "a244a"      "a245a"      "a247a"      "a248a"      "a252a"
[176] "a253a"      "a256a"      "a433a"      "a434a"      "a436a"
[181] "a529a"      "a534a"      "a747a"      "a748a"      "a752a"
[186] "a764a"      "anio"

tibble [47,412 × 187] (S3: tbl_df/tbl/data.frame)
 $ entidad   : chr [1:47412] "09" "09" "09" "09" ...
 $ municipio : chr [1:47412] NA NA NA NA ...
 $ codigo    : chr [1:47412] NA NA NA NA ...
 $ id_estrato: num [1:47412] NA 1 2 3 4 NA 99 NA 99 NA ...
 $ ue        : num [1:47412] 427959 396040 23622 6441 1856 ...
 $ a111a     : num [1:47412] 4280287 503719 381732 713094 2681741 ...
 $ a121a     : num [1:47412] 1987650 159109 190346 401345 1236851 ...
 $ a131a     : num [1:47412] 2292636 344611 191387 311750 1444889 ...
 $ a211a     : num [1:47412] 247811 5777 4809 22671 214554 ...
 $ a221a     : num [1:47412] 236512 6230 6072 11177 213033 ...
 $ a511a     : num [1:47412] 456421 101958 105791 133129 115543 ...
 $ a700a     : num [1:47412] 6400326 449131 664426 1011875 4274893 ...
 $ a800a     : num [1:47412] 8303585 810731 899561 1314579 5278714 ...
 $ h000a     : num [1:47412] 3222227 878504 392830 431702 1519191 ...
 $ h000b     : num [1:47412] 1880437 484953 224092 261065 910327 ...
 $ h000c     : num [1:47412] 1341790 393551 168738 170637 608864 ...
 $ h000d     : num [1:47412] 7769044 2114556 964731 1011945 3677812 ...
 $ h001a     : num [1:47412] 4297134 936788 515144 690317 2154885 ...
 $ h001b     : num [1:47412] 2537928 518017 295800 414894 1309217 ...
 $ h001c     : num [1:47412] 1759206 418771 219344 275423 845668 ...
 $ h001d     : num [1:47412] 10382377 2258294 1266250 1655332 5202501 ...
 $ h010a     : num [1:47412] 2717637 404260 369268 428127 1515982 ...
 $ h010b     : num [1:47412] 1603561 227144 209886 258747 907784 ...
 $ h010c     : num [1:47412] 1114076 177116 159382 169380 608198 ...
 $ h010d     : num [1:47412] 6586753 1003830 908569 1003747 3670606 ...
 $ h020a     : num [1:47412] 504590 474244 23562 3575 3209 ...
 $ h020b     : num [1:47412] 276876 257809 14206 2318 2543 ...
 $ h020c     : num [1:47412] 227714 216435 9356 1257 666 ...
 $ h020d     : num [1:47412] 1182291 1110727 56162 8197 7205 ...
 $ h101a     : num [1:47412] 2052387 368291 290148 298552 1095396 ...
 $ h101b     : num [1:47412] 1241980 210160 171691 189170 670959 ...
 $ h101c     : num [1:47412] 810407 158131 118457 109382 424437 ...
 $ h101d     : num [1:47412] 5064154 921751 726695 710064 2705644 ...
 $ h203a     : num [1:47412] 665250 35969 79120 129575 420586 ...
 $ h203b     : num [1:47412] 361581 16984 38195 69577 236825 ...
 $ h203c     : num [1:47412] 303669 18985 40925 59998 183761 ...
 $ h203d     : num [1:47412] 1522600 82079 181874 293684 964963 ...
 $ i000a     : num [1:47412] 1074907 58284 122314 258615 635694 ...
 $ i000b     : num [1:47412] 657491 33064 71708 153829 398890 ...
 $ i000c     : num [1:47412] 417416 25220 50606 104786 236804 ...
 $ i000d     : num [1:47412] 2613333 143738 301519 643387 1524689 ...
 $ i100a     : num [1:47412] 952442 32497 99155 238547 582243 ...
 $ i100b     : num [1:47412] 578316 17137 57969 140920 362290 ...
 $ i100c     : num [1:47412] 374126 15360 41186 97627 219953 ...
 $ i100d     : num [1:47412] 2341669 84946 248940 596601 1411183 ...
 $ i200a     : num [1:47412] 122465 25787 23159 20068 53451 ...
 $ i200b     : num [1:47412] 79175 15927 13739 12909 36600 ...
 $ i200c     : num [1:47412] 43290 9860 9420 7159 16851 ...
 $ i200d     : num [1:47412] 271664 58792 52579 46786 113507 ...
 $ j000a     : num [1:47412] 470022 25995 35105 60207 348716 ...
 $ j010a     : num [1:47412] 223080 20723 20345 29103 152909 ...
 $ j203a     : num [1:47412] 136051 3049 8753 19544 104705 ...
 $ j300a     : num [1:47412] 45415 1497 3638 6416 33863 ...
 $ j400a     : num [1:47412] 47336 314 724 1824 44474 ...
 $ j500a     : num [1:47412] 18140 412 1644 3320 12764 ...
 $ j600a     : num [1:47412] 154595 821 4330 86714 62730 ...
 $ k000a     : num [1:47412] 4190586 356542 454996 879646 2499403 ...
 $ k010a     : num [1:47412] 2120070 199140 262678 325742 1332511 ...
 $ k020a     : num [1:47412] 566609 74677 72226 121875 297830 ...
 $ k030a     : num [1:47412] 265708 9107 23966 86564 146071 ...
 $ k042a     : num [1:47412] 164357 5100 15015 36540 107701 ...
 $ k412a     : num [1:47412] 58930 3627 2957 4698 47649 ...
 $ k050a     : num [1:47412] 144245 22066 14776 18252 89152 ...
 $ k060a     : num [1:47412] 79287 13798 8680 18510 38299 ...
 $ k070a     : num [1:47412] 12548 778 1665 4780 5324 ...
 $ k090a     : num [1:47412] 415144 7029 16564 202598 188953 ...
 $ k096a     : num [1:47412] 14437 1552 2683 4454 5749 ...
 $ k311a     : num [1:47412] 14283 2033 2630 3078 6543 ...
 $ k610a     : num [1:47412] 177183 4065 11000 27800 134318 ...
 $ k620a     : num [1:47412] 17194 1688 2004 2702 10801 ...
 $ k810a     : num [1:47412] 47714 2273 8025 6146 31270 ...
 $ k820a     : num [1:47412] 23304 2456 2574 3577 14698 ...
 $ k910a     : num [1:47412] 10447 2285 1519 2590 4052 ...
 $ k950a     : num [1:47412] 52443 3700 5043 8283 35417 ...
 $ k976a     : num [1:47412] 6683 1169 990 1458 3066 ...
 $ m000a     : num [1:47412] 5613308 529939 654559 1185871 3242940 ...
 $ m010a     : num [1:47412] 2537080 301327 368692 451296 1415765 ...
 $ m020a     : num [1:47412] 2032729 175660 196828 326834 1333408 ...
 $ m030a     : num [1:47412] 883058 31045 73329 355953 422730 ...
 $ m050a     : num [1:47412] 46563 15803 10269 11284 9208 ...
 $ m090a     : num [1:47412] 94581 4842 3804 35881 50054 ...
 $ m091a     : num [1:47412] 1072257 178298 -977 48906 846030 ...
 $ m700a     : num [1:47412] 19297 1263 1637 4623 11775 ...
 $ o010a     : num [1:47412] 652116 30556 68069 188093 365397 ...
 $ o020a     : num [1:47412] 841 200 172 118 351 ...
 $ p000a     : num [1:47412] 198256 18168 32580 92397 55111 ...
 $ p000b     : num [1:47412] 209555 17715 31318 103890 56633 ...
 $ p000c     : num [1:47412] 11299 -453 -1263 11493 1522 ...
 $ p030a     : num [1:47412] 4426 127 499 1484 2316 ...
 $ p030b     : num [1:47412] 4488 109 441 1593 2345 ...
 $ p030c     : num [1:47412] 62.3 -17.9 -57.3 108.3 29.1 ...
 $ p100a     : num [1:47412] 120112 16340 29225 36164 38382 ...
 $ p100b     : num [1:47412] 118017 16061 27847 34569 39540 ...
 $ q000a     : num [1:47412] 3378587 154895 182543 283310 2757841 ...
 $ q000b     : num [1:47412] 260031 12154 15936 22710 209232 ...
 $ q000c     : num [1:47412] 258048 7641 8219 16252 225935 ...
 $ q000d     : num [1:47412] 21536 1411 2147 5075 12903 ...
 $ q010a     : num [1:47412] 1445524 42371 46802 94747 1261603 ...
 $ q020a     : num [1:47412] 1271765 64977 61744 74259 1070785 ...
  [list output truncated]

In [88]:
#Función para obtener la clasificación de cada actividad
classif_actividades <- map_dfr(.x = lista_censos,
                                 .f = ~ .x |>
    filter(is.na(municipio) & is.na(id_estrato) & !is.na(codigo)) |>
    mutate(codigo = as.character(codigo),
           tipo = case_when(codigo %in% actividades$clave ~ "Economia circular",
                             TRUE ~ "No economia circular")))
                             

classif_actividades|>
  filter(tipo == "Economia circular")|>
  pull(codigo)|>
  unique()

vacb_economia_circular <- classif_actividades|>
          group_by(anio, tipo) |>
          summarise(vacb_p_act = sum(a131a, na.rm = TRUE))|>
          mutate(Porcentaje = round(vacb_p_act * 100 / sum(vacb_p_act), 2))

vacb_economia_circular

 [1] "3251"  "43431" "46641" "53211" "53228" "53231" "53242" "562"   "71151"
[10] "81111" "81121" "8114"  "81221"

`summarise()` has grouped output by 'anio'. You can override using the
`.groups` argument.

  anio tipo                 vacb_p_act   Porcentaje
1 2004 Economia circular        -362.624  -0.01
2 2004 No economia circular  4501252.309 100.01
3 2009 Economia circular        4771.997   0.07
4 2009 No economia circular  6444482.770  99.93
5 2014 Economia circular        5882.814   0.08
6 2014 No economia circular  7273364.356  99.92
7 2019 Economia circular       16304.813   0.15
8 2019 No economia circular 11188484.960  99.85

In [100]:
#PARTICIPACIÓN DE LA ECONOMÍA CIRCULAR
prc_ue_economia_circular <- classif_actividades|>
          group_by(anio, tipo) |>
          summarise(ue_eco_c = sum(ue, na.rm = TRUE))|>
          mutate(Porcentaje = round(ue_eco_c * 100 / sum(ue_eco_c), 2))|> 
          filter(tipo == "Economia circular")

print("Participación de las unidades de economia circular en las unidades economicas")
prc_ue_economia_circular

#Tasa de variación interquinquenal de las unidades econmicas dedicadas a economía circular
tvq_ue_economia_circular <- classif_actividades |>
  group_by(anio, tipo) |>
  summarise(ue_eco_c = sum(ue, na.rm = TRUE), .groups = "drop") |>
  arrange(tipo, anio) |>
  group_by(tipo) |>
  mutate(tasa_var_interquinquenal = (ue_eco_c / lag(ue_eco_c) - 1) * 100)|>
  filter(tipo == "Economia circular")

print("Tasa de variación interquinquenal de las unidades econmicas dedicadas a economía circular")
tvq_ue_economia_circular

`summarise()` has grouped output by 'anio'. You can override using the
`.groups` argument.

[1] "Participación de las unidades de economia circular en las unidades economicas"

  anio tipo              ue_eco_c Porcentaje
1 2004 Economia circular 29439    1.79
2 2009 Economia circular 30855    1.69
3 2014 Economia circular 33835    1.63
4 2019 Economia circular 33030    1.54

[1] "Tasa de variación interquinquenal de las unidades econmicas dedicadas a economía circular"

  anio tipo              ue_eco_c tasa_var_interquinquenal
1 2004 Economia circular 29439           NA
2 2009 Economia circular 30855     4.809946
3 2014 Economia circular 33835     9.658078
4 2019 Economia circular 33030    -2.379193

In [99]:
##VARIABLES DE INTERES
# H001A = Personal ocupado total: Comprende a todas las personas que trabajaron durante el periodo de referencia dependiendo contractualmente o no de la unidad económica, sujetas a su dirección y control.
#PARTICIPACIÓN DEL PERSONAL OCUPADO EN ECONOMIA CIRCULAR
prc_po_economia_circular <- classif_actividades|>
          group_by(anio, tipo) |>
          summarise(po_eco_c = sum(h001a, na.rm = TRUE))|>
          mutate(Porcentaje = round(po_eco_c * 100 / sum(po_eco_c), 2))|> 
          filter(tipo == "Economia circular")

print("Participación de la población ocupada en economia circular")
prc_po_economia_circular

#Tasa de variación interquinquenal de la población ocupada en economía circular
tvq_po_economia_circular <- classif_actividades |>
  group_by(anio, tipo) |>
  summarise(po_eco_c = sum(h001a, na.rm = TRUE), .groups = "drop") |>
  arrange(tipo, anio) |>
  group_by(tipo) |>
  mutate(tasa_var_interquinquenal = (po_eco_c / lag(po_eco_c) - 1) * 100)|>
  filter(tipo == "Economia circular")

print("Tasa de variación intrquinquenal de la población ocupada en economia circular")
tvq_po_economia_circular

`summarise()` has grouped output by 'anio'. You can override using the
`.groups` argument.

[1] "Participación de la población ocupada en economia circular"

  anio tipo              po_eco_c Porcentaje
1 2004 Economia circular 84234    0.63
2 2009 Economia circular 84829    0.54
3 2014 Economia circular 86575    0.49
4 2019 Economia circular 81616    0.39

[1] "Tasa de variación intrquinquenal de la población ocupada en economia circular"

  anio tipo              po_eco_c tasa_var_interquinquenal
1 2004 Economia circular 84234            NA
2 2009 Economia circular 84829     0.7063656
3 2014 Economia circular 86575     2.0582584
4 2019 Economia circular 81616    -5.7279815